.table-wrap {
  margin-top: 50px;
}

.MuiDialog-paperWidthSm {
 min-width: 800px;
}

.MuiFormControl-root {
  width: 100%;
}

.field-wrap {
  margin: 8px 0 !important;
}

.title {
  font-size: 40px;
}

.sidebar {

  &__link {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    align-items: center;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .MuiList-padding {
    padding: 8px;
  }
}

.active {
  text-decoration: underline;
}

.row-btn {
  position: relative;
  border: none;
  background-color: initial;
  cursor: pointer;
  font-size: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &--delete {
    color: brown;
  }

  &--edit {
    color: blue;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-color: #ccc;
    opacity: 0.5;
    z-index: -1;
    border-radius: 50%;
  }
}

.calendar-modal-content {
  padding-bottom: 1rem;

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    &:not(:last-of-type) {
      margin-bottom: 1.6rem;
    }
  }

  &__label {
    flex-shrink: 0;
    display: block;
    font-weight: bold;
    margin-right: 1.6rem;
  }

  &__btn {
    display: block;
    width: 100%;
  }
}

.change-box {
  width: 100%;
}
